@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), local('Rubik-Medium'), url('/assets/fonts/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), local('Rubik-Light'), url('/assets/fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}